extends layout

block content
  link(rel='stylesheet', href='/stylesheets/user.css')
  - if (success)
    div(class='alert alert-success', role='alert')
      strong #{success}
  - if (error)
    div(class='alert alert-danger', role='alert')
      strong #{error}
  div(class='card')
    - if (userInfo)
        div(class='card text-white bg-danger mb-3')
          div(class='card-header')
            h4(class='schoolnum') 欢迎 #{userInfo.name} 
          div(class='card-body')
            p(style='font-size: 20px;') 请确认您的身份信息
            h5(class='card-credits') 所属支部 #{userInfo.branch} 
            h5(class='card-credits') 所属党委 #{userInfo.committee}
            - if (rank)
              h5(class='card-credits') 您当前的积分为 #{userInfo.credits} 处于前 #{rank} %
        a(href='/question/rules', class='btn btn-danger', role='button') 开始答题
        a(href='/user/history', class='btn btn-danger', role='button') 我的答题记录
        a(href='/user/ladder', class='btn btn-danger', role='button') 答题天梯榜
        a(href='/user/share', class='btn btn-danger', role='button') 分享赚积分
        a(href='/login/logout', class='btn btn-danger', role='button') 退出登录
            
